{#{% extends ':Sonata/CRUD:edit.html.twig' %}#}
{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            function checkPrestatorUser()
            {
                var rolles = $('select.form-rolles').val();
                var required = '';
                if (rolles != null) {
                    for (var i =0; i<rolles.length;i++) {
                        if (rolles[i] == 'ROLE_PRESTATOR') {
                            required = 'required';
                        }
                    }
                }
//                $('input.form-max-reservation-date').prop('required', required);
//                $('input.form-max-day-reservations').prop('required', required);
//                $('input.form-file').prop('required', required);
//                $('input.form-max-reservation-date, input.form-max-day-reservations, input.form-file').parent().parent()
//                    .children('label').each(function () {
//                    $(this).removeClass('required');
//                    $('.nav-tabs li:nth-child(2)').addClass('hidden');
//                    if (required !='') {
//                        $(this).addClass('required');
//                        $('.nav-tabs li:nth-child(2)').removeClass('hidden');
//                    }
//                });
            }

            function checkClientUser() {
                var rolles = $('select.form-rolles').val();
                var required = '';
                if (rolles != null) {
                    for (var i =0; i<rolles.length;i++) {
                        if (rolles[i] == 'ROLE_CLIENT') {
                            required = 'required';
                        }
                    }
                }

//                $('input.form-firma, input.form-nrordregcom, input.form-cui, input.form-judet, input.form-oras, input.form-sediu, input.form-banca, input.form-iban')
//                    .prop('required', required);
//                $('input.form-firma, input.form-nrordregcom, input.form-cui, input.form-judet, input.form-oras, input.form-sediu, input.form-banca, input.form-iban')
//                    .parent().parent().children('label').each(function () {
//                    $(this).removeClass('required');
//                    $('.nav-tabs li:nth-child(3)').addClass('hidden');
//                    if (required !='') {
//                        $(this).addClass('required');
//                        $('.nav-tabs li:nth-child(3)').removeClass('hidden');
//                    }
//                });
            }

            checkPrestatorUser();
            checkClientUser();
            $('select.form-rolles').change(function () {
                checkPrestatorUser();
                checkClientUser();
            });
        });
    </script>
{% endblock %}