{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.imageName %}
        <img src="{{ asset(object.getUploadDir() ~ '/' ~ object.imageName) }}"width="100" height="100">
        {% endif %}
    </div>
{% endblock %}